<%- include('includes/header'); -%>
    <table>

            <tr>
                <td>
                    Loction
                </td>
                <td>
                    <td><%=Location%></td>
                </td>
            </tr>
           
           
                    <tr>
                        <td>
                            Date
                        </td>
                        <td>
                            <td><%=Date%></td>
                        </td>
                    </tr>
                  


                            <tr>
                                <td>
                                    No of Pages
                                </td>
                                <td>
                                    <td><%=nooffiles%></td>
                                </td>
                            </tr>

                                            <tr>
                                                <td>
                                                    Request Type
                                                </td>
                                                <td>
                                                    <td><%=RequestType%></td>
                                                </td>
                                            </tr>
                                        

                           
    </table>
    <%- include('includes/footer'); -%>